@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 2560px) {
  html {
    font-size: clamp(0.8rem, 0.7vw + 0.6rem, 1.4rem);
  }
}

@media (min-width: 1300px) and (max-width: 2559px) {
  html {
    font-size: clamp(0.3rem, 0.4vw + 0.6rem, 10rem);
  }
}

@media (min-width: 976px) and (max-width: 1299px) {
  html {
    font-size: clamp(0.3rem, 0.8vw + 0.3rem, 10rem);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #061a1b;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(169 100% 41%);
  border-radius: 10px;
  border: 2px solid hsl(169 100% 41%);
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(169 100% 41%) #061a1b;
}

body {
  position: relative;
  margin: 0; /* Remove any default margins */
  padding: 0;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

::selection {
  --tw-bg-opacity: 0.8;
  background-color: hsl(169 100% 41% / var(--tw-bg-opacity));
  color: white;
}

.bg-LightBlue {
  --tw-bg-opacity: 1;
  background-color: hsl(169 100% 41% / var(--tw-bg-opacity));
}

.text-LightBlue {
  --tw-text-opacity: 1;
  color: hsl(169 100% 41% / var(--tw-text-opacity));
}

.border-LightBlue {
  border: 2px solid hsl(169 100% 41%);
}

.hover\:border-LightBlue:hover {
  border: 2px solid hsl(169 100% 41%);
}

.border-bottom-LightBlue {
  border-bottom: 2px solid hsl(169 100% 41%);
}

.border-contact {
  border: 0.2rem solid hsl(169 100% 41%);
  transition: all 0.3s ease-out;
  background: hsl(169 100% 7%);
}

/* .border-contact:hover {
  box-shadow: 0 0 0.75rem hsl(169 100% 41%);
} */

.bg-DarkBlue {
  --tw-bg-opacity: 1;
  background-color: hsl(169 100% 7% / var(--tw-bg-opacity));
}

.text-DarkBlue {
  --tw-text-opacity: 1;
  color: hsl(169 100% 7% / var(--tw-text-opacity));
}

.custom-gradient-right {
  background-image: linear-gradient(
    to right,
    hsl(360, 100%, 100%),
    hsl(169 100% 41%)
  );
}

.custom-gradient-left {
  background-image: linear-gradient(
    to left,
    hsl(360, 100%, 100%),
    hsl(169 100% 41%)
  );
}

.custom-gradient-bottom {
  background-image: linear-gradient(
    to bottom,
    hsl(360, 100%, 100%),
    hsl(169 100% 41%)
  );
}

.custom-gradient-top {
  background-image: linear-gradient(
    to top,
    hsl(360, 100%, 100%),
    hsl(169 100% 41%)
  );
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.menuClose {
  transition: all 900ms;
  max-height: 0;
}

.menuOpen {
  max-height: 500px;
}

@media (min-width: 240px) {
  .sm\:custom-gradient-top {
    background-image: linear-gradient(
      to top,
      hsl(360, 100%, 100%),
      hsl(169 100% 41%)
    ); /* Your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

@media (min-width: 768px) {
  .md\:custom-gradient-bottom {
    background-image: linear-gradient(
      to bottom,
      hsl(360, 100%, 100%),
      hsl(169 100% 41%)
    ); /* Your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.glowing-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 0.2em; /* Adjust the distance of the underline from the text */
}

.glowing-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; /* Adjust the distance of the underline from the text */
  width: 100%;
  height: 6px; /* Adjust the thickness of the underline */
  background-image: linear-gradient(
    90deg,
    #a0d5f7,
    #b4e3ff,
    #a0d5f7
  ); /* Light blue gradient colors */
  background-repeat: no-repeat;
  background-size: 200% 100%; /* Add a transition for the glowing effect */
  background-position: 100%;
  border-radius: 5px; /* Adjust the corner rounding */
  animation: glowing-underline-animation 2s infinite linear;
}

@keyframes glowing-underline-animation {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.homepage-start1 {
  transform: translateY(35px);
  opacity: 0;
  animation: animateHomePage 1000ms forwards 500ms;
}

.homepage-start2 {
  transform: translateY(35px);
  opacity: 0;
  animation: animateHomePage 1000ms forwards 700ms;
}

.homepage-start3 {
  transform: translateY(35px);
  opacity: 0;
  animation: animateHomePage 1000ms forwards 900ms;
}

@keyframes animateHomePage {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.contact1 {
  transform: translateX(-30px);
  opacity: 0;
  animation: animateContactPage 1000ms forwards 1200ms;
}

.contact2 {
  transform: translateX(-30px);
  opacity: 0;
  animation: animateContactPage 1000ms forwards 1500ms;
}
.contact3 {
  transform: translateX(-30px);
  opacity: 0;
  animation: animateContactPage 1000ms forwards 1800ms;
}

@keyframes animateContactPage {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.start-resource-even {
  transform: translateX(40px) translateY(30px);
  transition: transform 1000ms, opacity 300ms;
  opacity: 0;
}

.start-resource-odd {
  transform: translateX(-40px) translateY(30px);
  transition: transform 1000ms, opacity 300ms;
  opacity: 0;
}

.end-resource {
  opacity: 1;
  transform: translateX(0px) translateY(0px);
}

.project-start {
  transform: translateY(100px);
  opacity: 0;
  transition: all 1000ms;
}

.project-end {
  transform: translateY(0px);
  opacity: 1;
}

.img-shadow {
  animation: animateShadow 1500ms forwards 300ms;
}

@keyframes animateShadow {
  0% {
    filter: drop-shadow(0 0 0rem hsl(169 100% 41%));
  }

  100% {
    filter: drop-shadow(0 0 10rem hsl(169 100% 41%));
  }
}

.animateSuccess {
  animation: successAnimation 2s infinite;
}

@keyframes successAnimation {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-0.3rem);
  }

  60% {
    transform: translateY(-0.3rem);
  }

  100% {
    transform: translateY(0);
  }
}

.project-shadow {
  transition: all 250ms;
  box-shadow: 0 0 1rem hsl(169 100% 41%);
}

.skill-shadow {
  box-shadow: 0 0 0.75rem hsl(169 100% 41%);
}

.darkGreenBackground {
  background-color: #061a1b99;
  -webkit-backdrop-filter: blur(
    10px
  ); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(10px); /* This line activates blur*/
}

.filterTransition {
  transition: height 1000ms;
}

.skill:hover {
  background-color: #061a1b98;
  -webkit-backdrop-filter: blur(
    10px
  ); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(10px); /* This line activates blur*/
}

.text-BlueGreen {
  color: hsl(169 100% 41%);
}

.transitionFilterButtonOpen {
  transition: border-radius 100ms, background-color 250ms ease-out;
}

.transitionFilterButtonClose {
  transition: border-radius 100ms 490ms, background-color 250ms ease-out;
}

.filterMenuOpen {
  /* height: 230px; */
  border-left: 2px solid hsl(169 100% 41%);
  border-right: 2px solid hsl(169 100% 41%);
  border-bottom: 2px solid hsl(169 100% 41%);
  transition: height 500ms 100ms, border 10ms 100ms;
}

.filterMenuClose {
  height: 0px;
  transition: height 500ms, border 10ms 480ms;
}

#backgroundPicture {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#content {
  position: relative;
  z-index: 9;
  flex: 1;
}

.input-wrapper {
  height: 100%;
  width: 100%;
  padding: 2%;
  border-radius: 0.5rem;
  border: 0.15rem solid hsl(169 100% 30%);
  transition: border 250ms ease-out;
  z-index: 1;
  background-color: hsl(169 100% 7% / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  color: white;
  position: relative;
  font-size: 1rem;
}

.input-label {
  position: absolute;
  left: 3%;
  top: 18%;
  color: hsl(169 100% 30%);
  pointer-events: none;
  z-index: 2;
  background-color: hsl(169 100% 7% / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  padding: 0 0.2rem;
  transition: all 250ms ease-out;
}

.input-label-text {
  position: absolute;
  left: 3%;
  top: 4%;
  color: hsl(169 100% 30%);
  pointer-events: none;
  z-index: 2;
  background-color: hsl(169 100% 7% / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  padding: 0 0.2rem;
  transition: all 250ms ease-out;
}

.input-wrapper:focus {
  outline: none;
  border: 0.15rem solid hsl(169 100% 41%);
  box-shadow: 0 0 0.4rem hsl(169 100% 41%);
}

.input-label-focus {
  transform: translateY(-100%);
  font-size: 0.8rem;
  left: 5%;
  background-color: hsl(169 100% 7% / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  color: hsl(169 100% 41% / var(--tw-text-opacity));
  height: fit-content;
  padding-top: 0.5rem;
  display: flex;
  justify: center;
  align-items: center;
}

.input-label-focus-none {
  transform: translateY(-100%);
  font-size: 0.8rem;
  left: 5%;
  color: hsl(169 100% 35%);
  height: fit-content;
  padding-top: 0.5rem;
  display: flex;
  justify: center;
  align-items: center;
}

.textarea-wrapper {
  padding: 2%;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.15rem solid hsl(169 100% 30%);
  background-color: hsl(169 100% 7% / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: border 250ms ease-out;
  z-index: 1;
  position: relative;
}

.textarea-wrapper:focus {
  outline: none;
  box-shadow: 0 0 0.5em hsl(169 100% 41%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
  font-size: 1rem;
}

.project-list {
  grid-template-columns: repeat(auto-fit, 22rem);
  gap: 2rem;
  width: 80%;
  justify-content: space-between;
}
